* {
    margin: 0;
    padding: 0;
}

body {
    --pixelated-border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(30,30,30)' /></svg>");
    --pixelated-border-image-selected: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(30,30,225)' /></svg>");
    overflow: scroll;
}

game-board {
    width: 100%;
    height: 100%;
}

#game-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#game-sidebar {
    width: 380px;
    height: 100%;
    color: white;
    padding: 20px;
    margin-left: 16px;
    border-left: 2px solid #DDD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

#game-board {
    width: 100%;
    height: 100%;
    background-size: 80px 80px;
    box-shadow: inset 0px 0px 28px 28px #FFF;
    background-image: linear-gradient(to right, #DDD 1px, transparent 1px),
        linear-gradient(to bottom, #DDD 1px, transparent 1px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#game-board-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex: 1;
}

#game-board-footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    width: 100%;
}

.pixelated-button {
    padding: 8px;
    background-color: #FFF;
    cursor: pointer;
    transition: background-color, transform 200ms cubic-bezier(.3, .7, .4, 1);

}

.pixelated-button:hover {
    transform: translateY(-1px);
    background-color: #EEE;
}

.pixelated-button:active {
    transform: translateY(2px);
}

.operator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}


.card.operator {
    min-width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pixelated-border {
    border: 2px solid transparent;
    border-image-source: var(--pixelated-border-image);
    border-image-slice: 3;
    border-image-width: 6;
    border-image-outset: 2;
    border-image-repeat: repeat;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-2px);
}

.card.selected {
    --pixelated-border-image: var(--pixelated-border-image-selected);
    transform: translateY(0px);
}

.number-card {
    width: 128px;
    height: 128px;
}

.card {
    background: #FFF;
    transition: transform 200ms cubic-bezier(.3, .7, .4, 1);
    cursor: pointer;
}

.card-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    user-select: none;
}


.pixel-button {
    --btn-bg: black;
    --btn-bg-hover: #111;
    --btn-bg-active: #222;
    --btn-text: white;
    --btn-bg-push: #333;
}

/* Button */
.pixel-button-text {
    display: block;
    padding: 12px 42px;
    font-size: 1.25rem;
    color: var(--btn-text);
    transform: translateY(-4px);
    background: var(--btn-bg);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pixel-button-text::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: var(--btn-bg);
    z-index: -1;
}

.pixel-button-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: var(--btn-bg);
    z-index: -1;
}


.pixel-button:hover .pixel-button-text {
    background: var(--btn-bg-hover);
    --btn-bg: var(--btn-bg-hover);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    transform: translateY(-7px);
}

.pixel-button {
    background: var(--btn-bg-push);
    border: none;
    padding: 0;
    margin-left: 10px;
    margin-top: 6px;
    cursor: pointer;
    position: relative;
}

.pixel-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: var(--btn-bg-push);
    z-index: -1;
}

.pixel-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: var(--btn-bg-push);
    z-index: -1;
}

.pixel-button:active .pixel-button-text {
    transform: translateY(-3px);
}


#confettiCanvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}