.pixel-button {
    --btn-bg: #fff;
    --btn-bg-hover: #eee;
    --btn-bg-active: #ddd;
    --btn-text: black;
    --btn-bg-push: #ccc;
}

/* Button */
.pixel-button-text {
    display: block;
    padding: 12px 42px;
    font-size: 1.25rem;
    color: var(--btn-text);
    transform: translateY(-4px);
    background: var(--btn-bg);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    z-index: 2;
    position: relative;
}

.pixel-button-text::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: var(--btn-bg);
    z-index: -1;
}

.pixel-button-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: var(--btn-bg);
    z-index: -1;
}


.pixel-button:hover .pixel-button-text {
    background: var(--btn-bg-hover);
    --btn-bg: var(--btn-bg-hover);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    transform: translateY(-7px);
}

.pixel-button {
    background: var(--btn-bg-push);
    border: none;
    padding: 0;
    margin-top: 8px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.pixel-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: var(--btn-bg-push);
    z-index: -1;
}

.pixel-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: var(--btn-bg-push);
    z-index: -1;
}

.pixel-button:active .pixel-button-text {
    transform: translateY(-3px);
}